<div class="about-main">
  <h2>好きな力士の紹介</h2>


  <p>
    aboutページの使い道に困ったので好きな力士の紹介でもしてみる。
  </p>

</div>

<div class="about-asasyoryu">
  <h1>朝青龍</h1>


  <p>
    休場所中にモンゴルでサッカーしてた人です。
  </p>
  <img class="about-asasyoryu" src= "/朝青龍.png">
</div>

<div class="about-kotomitsuki">
  <h1>琴光喜</h1>


  <p>
    野球賭博した人です。
  </p>


  <img class="about-kotomitsuki" src= "/琴光喜.jpg">
</div>

<div class="about-harumahuzi">
  <h1>日馬富士</h1>


  <p>
    リモコンで殴った人です。
  </p>


  <img class="about-harumahuzi" src= "/日馬富士.jpg">
</div>
