//投稿詳細
<div class="main posts-show">
  <div class="container">
    <p><div class="posts-show-item">
      <%= @post.content %>
    </div>
  </p>
  <div class="post-time">
        <%=@post.created_at %>
      </div>
  </div>
</div>
